@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>AppName: <b>@Model.Message1</b></p>
<p>Site: <b>@Model.Message2</b></p>
